<div class="container content">
  <div class="row">
    <div class="col-sm-6 tinto">
      <a href="" class="tin-to">
        <%= image_tag("tinto1.jpg", class: "image_tinto") %>
      </a>
      <a href="" class="title_tinto">
        <p>“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</p>
      </a>
    </div>
    <div class="col-sm-6 tinto">
      <a href="" class="tin-to">
        <%= image_tag("tinto1.jpg", class: "image_tinto") %>
      </a>
      <a href="" class="title_tinto">
        <p>“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</p>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-container">
    <div class="grid-item start">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-tinnho">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-tinnho">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-tinnho">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-tinnho">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item end">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-tinnho">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="title-new">
      Mới nhất
    </h3>
  </div>
  <div class="grid-container">
    <div class="grid-item start">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item end">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item start">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
    <div class="grid-item end">
      <a href="" class="tin-nho">
        <%= image_tag("tinnho.jpg", class: "image_tinnho") %>
      </a>
      <a href="" class="title-new">
        <p>Chi phí sản xuất PlayStation 5 quá đắt, Sony có thể phải chịu lỗ</p>
      </a>
    </div>
  </div>
</div>
<div class="container cgn">
  <div class="row">
    <h3 class="title-new cgn">Chuyên gia nói</h3>
  </div>
  <div class="row">
    <div class="col-sm-4 cgn">
      <a href="" class="cgn">
        <%= image_tag("tinnho.jpg", class: "image_cgn") %>
        <p class="cgn">Nền tảng tuyển dụng IT TopDev nhận đầu tư từ công ty nhân sự hàng đầu tại Hàn Quốc</p>
      </a>
    </div>
    <div class="col-sm-4 cgn">
      <a href="" class="cgn">
        <%= image_tag("tinnho.jpg", class: "image_cgn") %>
        <p class="cgn">Nền tảng tuyển dụng IT TopDev nhận đầu tư từ công ty nhân sự hàng đầu tại Hàn Quốc</p>
      </a>
    </div>
    <div class="col-sm-4 cgn"></div>
  </div>
  <div class="row">
    <div class="col-sm-4 cgn">
      <a href="" class="cgn">
        <%= image_tag("tinnho.jpg", class: "image_cgn") %>
        <p class="cgn">Nền tảng tuyển dụng IT TopDev nhận đầu tư từ công ty nhân sự hàng đầu tại Hàn Quốc</p>
      </a>
    </div>
    <div class="col-sm-4 cgn">
      <a href="" class="cgn">
        <%= image_tag("tinnho.jpg", class: "image_cgn") %>
        <p class="cgn">Nền tảng tuyển dụng IT TopDev nhận đầu tư từ công ty nhân sự hàng đầu tại Hàn Quốc</p>
      </a>
    </div>
    <div class="col-sm-4 cgn"></div>
  </div>
</div>

<div class="container _3_column">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <h3 class="title-new cn">Công nghệ</h3>
      </div>
      <a href="" class="cgn">
        <%= image_tag("tinnho.jpg", class: "image_cn") %>
        <p class="cgn">Nền tảng tuyển dụng IT TopDev nhận đầu tư từ công ty nhân sự hàng đầu tại Hàn Quốc</p>
      </a>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <h3 class="title-new cn">Công nghệ</h3>
      </div>
      <a href="" class="cgn">
        <%= image_tag("tinnho.jpg", class: "image_cn") %>
        <p class="cgn">Nền tảng tuyển dụng IT TopDev nhận đầu tư từ công ty nhân sự hàng đầu tại Hàn Quốc</p>
      </a>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <h3 class="title-new cn">Công nghệ</h3>
      </div>
      <a href="" class="cgn">
        <%= image_tag("tinnho.jpg", class: "image_cn") %>
        <p class="cgn">Nền tảng tuyển dụng IT TopDev nhận đầu tư từ công ty nhân sự hàng đầu tại Hàn Quốc</p>
      </a>
    </div>
  </div>
</div>

<div class="container mini">
  <div class="row">
    <div class="col-sm-4">
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
        <table>
            <tr>
              <th>
                <%= image_tag("tinnho.jpg", class: "image_mini") %>
              </th>
              <th></th>
              <th>
                <div class="mini">
                  <a class="title-mini">“Bắn bluetooth” dữ liệu bằng tính năng Wi-Fi Direct vô cùng tiện lợi trên Windows 10</a>
                </div>
              </th>
            </tr>
        </table>
    </div>
  </div>
</div>
